<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 align-middle my-auto">
                <img v-if="product.image" :src="'/assets/products/' + product.image" width="100%"/>
            </div>
            <div class="col-9">
                <div class="product-name">{{ product.name}}</div>
                <div class="product-number">{{ product.articleNumber }}</div>
                <div class="product-description">{{ product.description }}</div>
            </div>
            <div class="col-2 text-right my-auto">
                <span class="align-middle">{{ product.price }}€</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Product",
    props: {
        product: Object
    }
}
</script>