<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link class="navbar-brand" to="/">
                best it Probearbeit
            </router-link>

            <ul v-if="isAuthenticated" class="navbar-view ml-auto my-auto list-unstyled">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-user-dropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ username }}
                        <span v-if="isLogoutLoading" class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbar-user-dropdown">
                        <button type="button" @click="logout()" class="dropdown-item">
                            Abmelden
                        </button>
                    </div>
                </li>
            </ul>
        </nav>

        <br>

        <router-view/>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "App",
    computed: {
        isAuthenticated() {
            return this.$store.getters["auth/isAuthenticated"];
        },

        isLogoutLoading() {
            return this.$store.getters["auth/isLoading"];
        },

        username() {
            return this.$store.getters["auth/username"];
        }
    },
    created() {
        let isAuthenticated = JSON.parse(this.$parent.$el.attributes["data-is-authenticated"].value)

        if (isAuthenticated) {
            let user = JSON.parse(this.$parent.$el.attributes["data-user"].value);
            this.$store.dispatch("auth/onRefresh", {isAuthenticated: isAuthenticated, user: user});

            // If axios calls return 401 Unauthorized, go to login page
            axios.interceptors.response.use(undefined, (err) => {
                return new Promise(() => {
                    if (err.response.status === 401) {
                        this.$router.push({path: "/login"})
                    }
                    throw err;
                });
            });
        }
    },
    methods: {
        async logout() {
            await this.$store.dispatch("auth/logout");
            if (!this.$store.getters["auth/hasError"]) {
                await this.$router.push({path: "/login"});
            }
        }
    }
};
</script>