<template>
    <div>
        <div class="row">
            <div class="col-6 my-auto mx-auto">
                <div class="card ">
                    <div class="card-body">
                        <h3>Login</h3>
                        <hr/>

                        <form @submit.prevent="" v-on:submit="login()">
                            <div v-if="hasError" class="">
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputUsername" class="col-sm-4 col-form-label">Username</label>
                                <div class="col-sm-8">
                                    <input v-model="username" type="text" class="form-control" id="inputUsername"
                                           placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-8">
                                    <input v-model="password" type="password" class="form-control" id="inputPassword"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <button
                                        :disabled="username.length === 0 || password.length === 0 || isLoading"
                                        type="submit"
                                        class="btn btn-primary btn-block"
                                        @click="login()">
                                        Login
                                        <span v-if="isLoading" class="spinner-border spinner-border-sm ml-1" role="status"
                                              aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            username: "",
            password: ""
        }
    },
    computed: {
        isLoading() {
            return this.$store.getters["auth/isLoading"];
        },

        hasError() {
            return this.$store.getters["auth/hasError"];
        },

        error() {
            let msg = this.$store.getters["auth/error"];
            if (msg.toString().includes("401")) {
                return "Invalid username or password";
            }
            return msg;
        }
    },
    created() {
        if (this.$store.getters["auth/isAuthenticated"]) {
            this.$router.push({path: "/"});
        }
    },
    methods: {
        async login() {
            await this.$store.dispatch("auth/login", {username: this.$data.username, password: this.$data.password});
            if (!this.$store.getters["auth/hasError"]) {
                await this.$router.push({path: "/"});
            }
        }
    }
}
</script>

<style scoped>

</style>