<template>
    <div>
        <div v-if="isLoading" class="row col">
            <h1>Products</h1>
        </div>

        <div v-if="isLoading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div v-else-if="hasError" class="row col">
            <div class="alert alert-danger" role="alert">
                {{ error }}

            </div>
        </div>

        <div v-else-if="!hasProducts" class="row col">
            No Products!
        </div>

        <div v-else>
            <h1>Products ({{ products.length}})</h1>

            <br/>

            <ul class="list-group">
                <li v-for="product in products" :key="product.id" class="list-group-item">
                    <product :product="product"></product>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

import Product from "../components/Product";

export default {
    name: "Products",
    components: {
        Product
    },
    computed: {
        isLoading() {
            return this.$store.getters["product/isLoading"];
        },
        hasError() {
            return this.$store.getters["product/hasError"];
        },
        error() {
            return this.$store.getters["product/error"];
        },
        hasProducts() {
            return this.$store.getters["product/hasProducts"];
        },
        products() {
            return this.$store.getters["product/products"];
        }
    },
    created() {
        this.$store.dispatch("product/getAll");
    }
}
</script>